application/p4src/switch.json
application/p4src/switch.p4i
application/topo/FatTree6/__pycache__/FatTree6.cpython-310.pyc
application/topo/FatTree6/__pycache__/tools.cpython-310.pyc
application/topo/FatTree6/__pycache__/topo.cpython-310.pyc
application/topology.json