application/p4src/switch.json
application/p4src/switch.p4i
application/topo/rules.json
*.pyc
__pycache__/
**/__pycache__/
*.log
application/topology.json
application/res.json
application/test.json
application/test.py
generated/